.box {
    display: inline-block;       
    border: 1px solid rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    }
  
  .off {
    background-color: rgb(48, 47, 47);
  }
  
  .on {
    background-color: rgb(0, 81, 255);
  }
    
  .box:hover { 
    background: #0ceebd;
  }
  
  .center {
    margin: auto;
    display: table;
    margin-top: 10px;
  }
  
  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    /* box-shadow: 0px 0px 20px rgb(2, 69, 255); */
    margin-top: 25px;
  }
    
  h1, h2, h3, h4 {
    color: black;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 25px;
  }
  
  h4 {
    margin-top: 0px;
  }